extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    div.ui.placeholder.segment
        div.ui.icon.header
            i.product.hunt.icon
            p Add Product
        //- div.field
        form.ui.fluid.action.input(action="/admin/add-product" method="post")
            input(type="text" placeholder="Add Product" name="title")
            button.ui.primary.button(type="submit") Add Produc
