if isAuthenticated
    form(action="/cart" method="post")
        input(type="hidden" value=`${product._id}` name="productId")
        input(type="hidden", name="_csrf" value=`${csrfToken}`) 
        button.ui.button.primary(type="submit") Add Cart