extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    if products.length > 0
        .grid.ui.cards 
            each product in products
                div.ui.card
                    div.image
                        img(src="/images/earnings.jpg")
                    div.content 
                        div.header Matt Giampietro
                        div.meta
                            div $19.90
                        div.description A very interesting book about so many even more interesting things!
                    div.extra.content
                        a.ui.button.positive(href="#") Details
                        button.ui.primary.button  Add to Cart
    else 
        div.ui.placeholder.segment
            div.ui.icon.header
                i.product.hunt.icon
                p No Products
