extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    if errorMessage
        div.ui.error.message
            div.header There were some errors with your submission
            p #{errorMessage}
   
    h2.ui.header
        i.user.icon
        div.content #{pageTitle}
    div.ui.ui.divider

    div.container(style="width: 36rem; margin: 0 auto;") 
        form.ui.form(method="post" action="/reset")
            div.field
                label Email
                input(type="text" name="email" placeholder="Please input your email")
            button.ui.button.primary(type="submit") 
                span Reset Password 