extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    include ../layouts/error-message.pug

    h2.ui.header
        i.user.icon
        div.content #{pageTitle}
    div.ui.ui.divider

    div.container(style="width: 36rem; margin: 0 auto;") 
        form.ui.form(method="post" action="/signup")
            div.field
                label Email
                input(type="text" name="email" placeholder="Please input your email")
            div.field
                label Password
                input(type="password" name="password" placeholder="Please input your password")
            div.field
                label Confirm Password
                input(type="password" name="confirmPassword" placeholder="Please confirm your password")
                input(type="hidden", name="_csrf" value=`${csrfToken}`) 
            button.ui.button.primary(type="submit") 
                span SignUp